<ion-view view-title="Promotions">
  <ion-content>
    <ion-list>
      <div class="item" ng-repeat="item in promoCtrl.promotions">
      <ion-item class="cp-promo item-borderless" ng-click="promoCtrl.viewPromo(item)">
        <div class="title">{{item.title}}</div>
        <img ng-src="{{item.img}}">
      </ion-item>
      <button class="button button-block button-positive ion-android-download" ng-click="promoCtrl.addReward(item)">
        Redeem ({{item.points}} pts)
      </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
