<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Family Tab -->
  <ion-tab title="Family" icon-off="ion-android-people" icon-on="ion-android-people" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Tasks Tab -->
  <ion-tab title="Tasks" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/tasks">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <!--<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">-->
  <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  <!--</ion-tab>-->


</ion-tabs>