<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Tasks Tab -->
  <ion-tab title="Tasks" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/tasks">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>

  <!-- Rewards tab -->
  <ion-tab title="Rewards" icon-on="ion-ribbon-b" icon-off="ion-ribbon-b" href="#/tab/rewards">
    <ion-nav-view name="tab-rewards"></ion-nav-view>
  </ion-tab>

  <!-- Promo Tab -->
  <ion-tab title="Promotions" icon-on="ion-ios-pulse" icon-off="ion-ios-pulse" href="#/tab/promo">
    <ion-nav-view name="tab-promo"></ion-nav-view>
  </ion-tab>  
  
  <!-- The Money tab -->
  <ion-tab title="Finance" icon-off="ion-cash" icon-on="ion-cash" href="#/tab/finance">
    <ion-nav-view name="tab-finance"></ion-nav-view>
  </ion-tab>

  <!-- Family Tab -->
  <ion-tab title="Family" icon-off="ion-android-people" icon-on="ion-android-people" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Test tab. Can test any UI elements here first. TO REMOVE FOR PRODUCTION -->
  <!--<ion-tab title="Test" icon-on="ion-medkit" icon-off="ion-medkit" href="#/tab/test">-->
    <!--<ion-nav-view name="tab-test"></ion-nav-view>-->
  <!--</ion-tab>-->

</ion-tabs>