# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

# bower libs
www/lib

# vs code settings
.vscode/
.editorconfig
.bowerrc
jsconfig.json

# platform specific files. we however include the resource top level
# as it may contain the app icon. the sub folders are ignored
platforms
resources/android
resources/ios

#pouchdb files
_replicator
_users
cashpaw
pouch__all_dbs__
log.txt