<ion-view view-title="My Finance">
  <ion-content class="child-view">
    <div class="item item-avatar item-assertive money-balance">
      <img src="img/wallet.png">
      Bank Balance: {{(moneyCtrl.account.balance || 0) | number : 2}}
      <p class="money-account">Account: xxxx xxx 8888</p>
    </div>
    <p class="task-points-small">Last 10 transactions</p>
    <ion-list>
      <ion-item ng-repeat="item in moneyCtrl.account.transactions | orderBy: '-time'" ng-class="{'money-credit' : item.type == 'credit'}">
        <div class="row row-no-padding">
          <div class="col col-75">
            <div class="money-title">{{item.title}}</div>
            <div class="money-description">{{item.description}}</div>
            <div class="money-description">{{item.time | date : 'dd MMM yy h:mm a'}}</div>
          </div>
          <div class="col col-25 col-center money-amount">
            <div class="money-title">{{item.amount | number:2}}</div>
            <div class="money-description">{{item.currency}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>