<ion-view view-title="{{taskCtrl.headerTitle}}" hide-back-button="false">
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-clear button-icon ion-close button-assertive" ng-click="taskCtrl.cancel()"></button>-->
    <!--<div style="width:10px;">&nbsp;</div>-->
    <!--<button class="button button-clear button-icon ion-checkmark" ng-click="taskCtrl.saveTask()"></button>-->
  <!--</ion-nav-buttons>-->

  <ion-content class="padding">

    <!-- Task name -->
    <label class="item item-input">
      <input type="text" placeholder="Task Name" ng-model="taskCtrl.task.name" required>
    </label>

    <!-- Duration and points button -->
    <div class="row row-no-padding">
      <div class="col col-50">
        <button class="button button-block ion-android-stopwatch button-stable" ng-click="taskCtrl.numberInput('duration')">
          &nbsp;
          <span ng-if="taskCtrl.task.duration <= 0" class="">How Long?</span>
          <span ng-if="taskCtrl.task.duration > 0" class="">{{taskCtrl.task.duration}} mins</span>
        </button>
      </div>
      <div style="width:5px;">&nbsp;</div>
      <div class="col col-50">
        <button class="button button-block ion-star" ng-click="taskCtrl.numberInput('points')">&nbsp;{{taskCtrl.task.points}} pts</button>
      </button>
      
    </ionic-numberpicker>&nbsp;
      </div>
    </div>

    <!-- Assign to user section -->
    <div class="text-center">Assign</div>
    <a class="button button-icon item-avatar button-block button-large" 
      ng-click="taskCtrl.selectUser()">
      <img ng-src="{{taskCtrl.task.assignee.img || 'img/smiley-flat.png'}}">&nbsp;
      <span ng-show="taskCtrl.task.assignee">{{taskCtrl.task.assignee.name}}</span>
      <span ng-show="!taskCtrl.task.assignee">No one here...</span>
    </a>

    <!-- Due date, repeat, reminder & penalty section -->
    <ion-list class="row-no-padding">
      <div class="list">

        <div class="row row-no-padding item">
          <div class="col col-50 col-center item-borderless">
            <ion-item class="item-borderless item">
              <i class="ion-calendar"> Due Date</i>
            </ion-item>
          </div>
          <div class="col col-50 item-borderless">
            <ion-item class="item-borderless row-no-padding item">
              <a class="button button-full row-no-padding" 
                ng-bind-template="{{taskCtrl.task.dueDate || 'Nothing here...'}}" 
                ng-click="taskCtrl.selectDate('due-date')">
              </a>
            </ion-item>
          </div>
        </div>
        
        <!-- Disable to repeat option for initial release-->
<!--
        <div class="row row-no-padding item" ng-show="taskCtrl.task.dueDate">
          <div class="col col-50 col-center item-borderless">
            <ion-item class="item-borderless item">
              <i class="ion-loop"> Repeat</i>
            </ion-item>
          </div>
          <div class="col col-50 item-borderless">
            <ion-item class="item-borderless row-no-padding item">
              <a class="button button-full row-no-padding">Nothing here...</a>
            </ion-item>
          </div>
        </div>
-->

        <div class="row row-no-padding item" ng-show="taskCtrl.task.dueDate">
          <div class="col col-50 col-center item-borderless">
            <ion-item class="item-borderless item">
              <i class="ion-ios-bell"> Reminder</i>
            </ion-item>
          </div>
          <div class="col col-50 item-borderless">
            <ion-item class="item-borderless row-no-padding item">
              <a class="button button-full row-no-padding"
                ng-bind-template="{{taskCtrl.task.reminder || 'Nothing here...'}}" 
                ng-click="taskCtrl.selectTime('reminder')">
              </a>
            </ion-item>
          </div>
        </div>

        <div class="row row-no-padding item">
          <div class="col col-50 col-center item-borderless">
            <ion-item class="item-borderless item">
              <i class="ion-sad-outline"> Penalty</i>
            </ion-item>
          </div>
          <div class="col col-50 item-borderless">
            <ion-item class="item-borderless row-no-padding item">
              <a class="button button-full row-no-padding" 
                ng-bind-template="{{taskCtrl.penaltyLabel || 'Nothing here...'}}"
                ng-click="taskCtrl.numberInput('penalty')">
              </a>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-list>

    <!-- Category section -->
    <br>
    <div class="text-center">Category</div>
    <!--<a class="button button-icon item-avatar button-block button-large" ui-sref='categories'>-->
    <a class="button button-icon item-avatar button-block button-large" ng-click="taskCtrl.selectCategory()">
      <img ng-src="{{taskCtrl.task.category.img || 'img/smiley-flat.png'}}">&nbsp;
      <span ng-bind-template="{{taskCtrl.task.category.label || 'Nothing here...'}}"></span>
    </a>

    <!-- Notes section with auto-expanding textarea using angular-elastic -->
    <div style="margin:10px 0 0 0;">
      <div class="text-center">Notes</div>
      <div>{{taskCtrl.task.note}}</div>
      <!--<label class="item item-input">-->
      <!--<textarea ng-model="taskCtrl.task.note" placeholder="Anything to add?" class="msd-elastic"></textarea>-->
      <!--</label>-->
    </div>
    
    <!-- extra line break to keep some spacing at bottom -->
    <br>
    
    <!-- Only visible for edit tasks, the history and delete button -->
    <!--<div class="row row-no-padding" ng-if="taskCtrl.edit">-->
      <!--<div class="col col-50">-->
        <!--<button class="button button-block ion-clock button-stable" ng-click="taskCtrl.todoStub()">&nbsp;History</button>-->
      <!--</div>-->
      <!--<div style="width:5px;">&nbsp;</div>-->
      <!--<div class="col col-50">-->
        <!--<button class="button button-block ion-ios-trash" ng-click="taskCtrl.removeFromDetailView(taskCtrl.task)">&nbsp;Delete</button>-->
      <!--</div>-->
    <!--</div>-->
    
  </ion-content>
</ion-view>