<ion-view view-title="Tasks">
 <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-clear button-icon ion-plus" ng-click="taskCtrl.userTasks()"></button>-->
  <!--</ion-nav-buttons>-->

  <ion-content>
    <ion-list>
      <div class="row row-no-padding item" ng-repeat="task in taskCtrl.tasks">
        
        <!-- Check box 20% on left -->
        <div class="col col-20 item-borderless">
          <ion-item class="item-borderless">
            <ion-checkbox class="item-borderless" ng-model="task.completed" ng-change="taskCtrl.onCheckChange(task)"></ion-checkbox>
            <p class="task-points-small">{{task.points}} pts</p>
          </ion-item>
        </div>

        <!-- List item 80% with task data, slide to delete and click to view -->
        <div class="col col-80 item-borderless">
          <ion-item class="item-remove-animate item-borderless item-avatar-right item-icon-right" type="item-text-wrap"  ng-click="taskCtrl.viewTask(task)">
            <img ng-src="{{task.assignee.img || 'img/smiley-flat.png'}}">
            <h2 ng-class="{'task-complete': task.completed}">{{task.name}}</h2>
            <p>{{task.note}}</p>
          </ion-item>
        </div>
      </div>
    </ion-list>

    <p ng-if="!taskCtrl.tasks.length" class="aj-empty-list padding">Hooray! No chores here.</p>
  </ion-content>
</ion-view>