.no-padding {
  padding: 0px !important;
}
.task-points-small {
  font-size: 11px !important;
  text-align: center;
}
.task-header-block {
  font-size: 110%;
  background-color: #eeeeee;
  padding: 3px 5px;
}
.task-complete {
  text-decoration: line-through;
}
.aj-empty-list {
  font-size: 130%;
  font-weight: lighter;
  font-style: italic;
}
.aj-avatar-large {
  max-width: 150px !important;  
  max-height: 150px !important;  
  -webkit-border-radius: 75px; /* Saf3+, Chrome */
	border-radius: 75px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */  
}
.aj-user-name {
  font-size: 200%;
}
/* override of toast position bottom center to offset by 70px from bottom */
.toast-bottom-center {
  bottom: 70px !important;
}
.cp-promo img {
  width: 100%;
}
.cp-promo .title {
  font-size: 130%;
  margin: 0 0 10px 0;
}
.cp-promo .points {
  font-weight: bold;
}